<!-- Hero Setion Start -->
<body>
  <section id="home" class="pt-36">
    <div class="container">
      <div class="flex flex-wrap">
        <div class="w-full self-center px-4">
          <h1 class="font-bold">ActiveRecordを練習して</h1>
          <h1 class="font-bold">基礎力を身につけよう</h1>
          <p class="font-medium mb-10">
            ActiveRecorderは環境構築がいらない学習サービスです
          </p>
          <a class="#">さっそく試してみる</a>
        </div>
        <div class="w-full self-end px-4">
          <div class="mt-10">
            <img
              src="undraw_Developer.png"
              alt="developer"
              class="max-w-full mx-auto"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Hero Setion Start -->
