<%= turbo_stream.replace "itemss" do %>
<%= turbo_frame_tag 'itemss' do %>
<div class="flex justify-center items-center mt-5">
	<%= image_tag "er.png", class: "max-w-full mx-auto" %>
</div>
<% end %>
<% end %>