<%= turbo_stream.replace "right_items" do %>
<%= turbo_frame_tag 'right_items' do %>
<div class="flex justify-center items-center mt-5">
	<%= image_tag asset_path("er.png"), class: "max-w-full mx-auto" %>
</div>
<% end %>
<% end %>